/* Variables */
:root {
    --theme-border-radius: 8px;
    --theme-box-shadow: rgb(0 0 0 / 22%) 0px 1px 3px 0px;
    
    /* Colors */
    --iracing-blue: rgb(30, 68, 136);
    --iracing-red: #DF2826;
    
    --theme-dark: #05050f   ;
    --theme-light: #F1F1F2;
    
    --theme-red: var(--iracing-red);
    --theme-red-alt: #EC2029;
    --theme-blue: #006eff;
    --theme-light-blue: #006eff;
   
    /* Licences */
    --theme-license-rookie: var(--theme-red-alt);
    --theme-license-d: #ff6601;
    --theme-license-c: #ffcc33;
    --theme-license-b: rgb(6, 177, 48);
    --theme-license-a: #1e4488;
    --theme-license-pro: #000000;
    
    --theme-background-color: #21212a;
    --theme-overlay-color: rgba(255, 255, 255, .05);
    
    --theme-font-color: inherit;
    --theme-font-color-secondary: #acacaf;
    --theme-border-color: #4d4d4d;
    --theme-header-bg: var(--theme-dark);
    
    --theme-pager-bg: inherit;
    --theme-pager-hover: rgba(255, 255, 255, .25);
    
    --theme-comment-header-bg: #2c2c35;
    --theme-comment-admin-header-bg: rgba(223, 40, 38, .5);
    --theme-comment-op-header-bg: rgba(30, 68, 136, .25);
    
    --theme-signature-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3) inset;
    --theme-signature-bg: #13131C;
    --theme-signature-color: #ccc;
    
    
    --theme-message-quote-embed-bg: rgba(5, 5, 15, 0);
    --theme-message-quote-embed-gradient: linear-gradient(transparent, var(--theme-background-color ));
    
    --theme-button-bg: inherit;
    --theme-button-color: inherit;
    
    --theme-enable-post-animate: 0; /* enable = 1, disable = 0 */
    --theme-post-animate-multiplyer: 0.01;

    
}


/************************************** REMOVED ITEMS ******************************************/

.Section-CategoryList .MainContent .DataList .Item.pageBox .Meta {
    display: inline-flex;
    display: none;
}

.DataList .Excerpt, .DataList .CategoryDescription, .MessageList .Excerpt, .MessageList .CategoryDescription {
    display: none;
}

@media screen and (max-width: 800px) {
  .LastDiscussionTitle {
    display: none !important;
  }
}


/********************************************* Global *****************************************************/
@media screen and (min-width: 1940px) {
    .Container {
        width: 100%;
        max-width: 1600px;
    }
    
    [class*="container-fullGutter"] {
        width: 100%;
        max-width: 1600px;
    }
    
    .alert-banner {
        max-width: 1520px !important;
    }
}


h1, 
h2, 
h3, 
h4, 
h5,
h6 {
    color: var(--theme-font-color);
}

.userContent.userContent h1,
.userContent.userContent h2,
.userContent.userContent h3,
.userContent.userContent h4,
.userContent.userContent h5,
.userContent.userContent h6 {
    color: var(--theme-font-color);
    font-weight: 700;
}

.userContent.userContent h2 {
    font-size: 1.75rem;
    line-height: 1.85rem;
}

.userContent.userContent h3 {
    font-size: 1.5rem;
    line-height: 1.6rem;
}

.userContent.userContent h3:hover {
    color: var(--theme-font-color) !important;
}

.userContent.userContent h4 {
    font-size: 1.25rem;
    line-height: 1.35rem;
}

.userContent.userContent h5 {
    font-size: 1rem;
    line-height: 1.1rem;
}

.blockquote {
    border-color: var(--theme-border-color)
}

input:not(.Button) {
    background-color: var(--theme-background-color) !important;
    color: var(--theme-font-color) !important;
}

header.titleBar [class*="searchBar-content"] {
    background: none !important;
}

[class*="-fullBackground-fullBackground"] {
    background-image: url(https://s100.iracing.com/wp-content/uploads/2021/06/triangle-landscape-bg-iR-black-95p-1440.jpg);
    -webkit-box-shadow: 0px 0px 400px 50px rgba(5, 5, 15, 1); 
    box-shadow: inset 0px 0px 400px 50px rgba(5, 5, 15, 1);
}

div.Popup .Body {
    border-color: var(--theme-border-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 6px;
    background-color: var(--theme-background-color);
    color: var(--theme-font-color);
}

.DataTable-ReactionsLog .Item td {
    background-color: var(--theme-background-color);
    color: var(--theme-font-color) !important;
}

.DataTable-ReactionsLog tbody {
    width: 100%;
}

.DataTable-ReactionsLog .ReactionsLog-Date {
    width: 20%;
}

.DataTable-ReactionsLog .ReactionsLog-User {
    width: 40%;
}

.DataTable-ReactionsLog .ReactionsLog-Reaction {
    width: 20%;
}

.DataTable-ReactionsLog .ReactionsLog-Options {
    width: 20%;
}

div.Popup a.Close {
    top: 24px;
    right: 46px;
}


/* Meta */

.ItemContent a,
.Meta.Meta .MItem a{
    color: var(--theme-font-color-secondary);
}
.Meta.Meta .MItem a:hover, 
.Meta.Meta .MItem a:focus, 
.Meta.Meta .MItem a:active, 
.Meta.Meta .MItem a.focus-visible {
    color: var(--theme-font-color);    
}

.Meta.Meta, .AuthorInfo,
.Meta.Meta > .MItem, .AuthorInfo > .MItem {
    color: var(--theme-font-color-secondary);
    font-size: 12px;
}

.MainContent .pageHeadingBox.pageHeadingBox.pageHeadingBox {
    margin: 16px 0 0 0 !important;
    border-radius: 8px 8px 0 0 ;
}

[class*="metaIcon"], [class*="meta"], [class*="meta"] a {
    color: var(--theme-font-color-secondary) !important;
}

[class*="meta"] a:hover {
    color: var(--theme-blue) !important;
}

[class*="metaLabel"] {
    color: white !important;
}

/* Navigation Mobile and Dropdowns */

[class*="isSidePanel"] [class*="modal"],
[class*="isSidePanel"],
[class*="isSidePanel"] [class*="tabList"]{
    background-color: var(--theme-background-color);
    color: var(--theme-font-color);
}

[class*="tabList"] button {
    background-color: var(--theme-background-color);
    color: var(--theme-font-color);
}

[class*="tabList"] button {
    background-color: var(--theme-background-color);
    color: var(--theme-font-color);
}

[class*="titleBar-hamburger"] {
    color: var(--theme-font-color) !important;
}

[class*="titleBar-hamburger"]:hover {
    color: var(--theme-blue) !important;
}

[class*="isSidePanel"] [class*="modal"] button,
[class*="isSidePanel"] [class*="modal"] li,
[class*="isSidePanel"] [class*="modal"] button,
[class*="isSidePanel"] [class*="modal"] [class*="heading"],
[class*="isSidePanel"] [class*="modal"] [class*="Heading"],
[class*="isSidePanel"] [class*="modal"] [class*="dropDown-panel"] {
    background-color: var(--theme-background-color);
    color: var(--theme-font-color);
}

[class*="dropDown-sectionHeading"] {
    color: var(--theme-font-color) !important;
}

[class*="titleBarMegaMenu"] {
    background-color: var(--theme-background-color);
    color: var(--theme-font-color);
}

[class*="titleBarMegaMenu"] a {
    color: var(--theme-font-color);
}

/* Quick Links */
[class*="quickLinks"] [class*="PageBox-boxClass"] {
    padding: 0;
}

[class*="quickLinks"] [class*="quickLinks-listItem"] {
    border-color: var(--theme-border-color);
}
[class*="quickLinks"] [class*="quickLinks-listItemTitle"],
[class*="quickLinks"] [class*="quickLinks-count"] {
    padding: 0.75rem 1rem !important;
}

[class*="quickLinks"] [class*="quickLinks-listItemTitle"]:hover {
    color: var(--theme-light-blue);
}

li[class*="meBoxMessage"] {
    position: relative;
}

[class*="meBoxMessage"] {
    color: var(--theme-font-color) !important;
}

[class*="meBoxMessage-status"].isUnread:after {
    width: 4px;
    height: 100%;
    border-radius: 0;
    background-color: var(--theme-blue);
}

/* Quote Box & Embeds */

[class*="quoteEmbed"] {
    border-color: var(--theme-border-color) !important;
    border-radius: var(--theme-border-radius) !important;
    background-color: var(--theme-message-quote-embed-bg);
}

[class*="quoteEmbed-title"] {
    color: var(--theme-font-color) !important;
    background: none !important;
}

[class*="-quoteEmbed-header"] + [class*="-collapsableContent"] {
    border-bottom-left-radius: var(--theme-border-radius);
    border-bottom-right-radius: var(--theme-border-radius);
    overflow: hidden;
}
[class*="-quoteEmbed-header"]:not([class*="collapsableContent-gradient"]),
[class*="-quoteEmbed-content"]:not([class*="collapsableContent-gradient"]),
[class*="-collapsableContent"]:not([class*="collapsableContent-gradient"]),
[class*="-collapsableContent-footer"]:not([class*="collapsableContent-gradient"]),
[class*="-embedExternal-content"]:not([class*="collapsableContent-gradient"]) {
    background-color: var(--theme-message-quote-embed-bg) !important;
}
[class*="-quoteEmbed-header"]:not([class*="collapsableContent-gradient"]){
    border-top-left-radius: var(--theme-border-radius);
    border-top-right-radius: var(--theme-border-radius);
}
[class*="-collapsableContent-collapser"] {
    background-color: var(--theme-button-bg) !important;
    color: var(--theme-button-color); 
}
[class*="collapsableContent-gradient"]{
    height: 100px;
    background: var(--theme-message-quote-embed-gradient);
}

.embedLink-excerpt,
.embedLink-source,
[class*="embed-title"]
{
    color: var(--theme-font-color) !important;
}

.Section-Conversation .ConversationMessage .ConversationMessage-content {
    max-width: calc(100% - 1rem);
}

/***** Navigation *****/
.Pager.NumberedPager .Pager-p {
    color: var(--theme-font-color);
    border-color: var(--theme-border-color);
    transition: all 0.2s ease-in-out;
    background-color: var(--theme-pager-bg) !important;
}

.Pager.NumberedPager .Previous,
.Pager.NumberedPager .Next {
    background-color: var(--theme-pager-bg) !important;
    color: var(--theme-font-color) !important;
    border-color: var(--theme-border-color);
}

.Pager.NumberedPager a.Pager-p:hover,
.Pager.NumberedPager a.Previous:hover,
.Pager.NumberedPager a.Next:hover {
    background-color: var(--theme-pager-hover) !important;
}

.Pager.NumberedPager a.Pager-p.Highlight {
    background-color: var(--theme-blue) !important;
}

.Panel .Box li + li {
    padding-top: 8px;
}

li.TagCloud-Item.TagCloud-Item.TagCloud-Item a,
.InlineTags a,
body.Post .FormWrapper .AvailableTags a {
    margin: 2px 2px;
    padding: 0 8px;
    border: 1px solid var(--theme-blue);
    color: var(--theme-font-color) !important;
    transition: .2s ease-in-out;
    border-radius: 8px;
}

li.TagCloud-Item.TagCloud-Item.TagCloud-Item a:hover,
.InlineTags a:hover,
body.Post .FormWrapper .AvailableTags a:hover{
    margin: 2px 2px;
    border: 1px solid var(--theme-blue);
    background-color: var(--theme-blue);
    color: white !important;
    border-radius: 8px;
}

.userContent,
.UserContent,
.MessageList.Discussion {
    color: var(--theme-font-color);
}

/*************************************************** Header ************************************************************/

header.titleBar [class*="meBoxMessage-message"],
header.titleBar [class*="meBoxMessage"] + [class*="meBoxMessage"],
header.titleBar [class*="frameHeader"],
header.titleBar [class*="frameFooter"] {
    color: var(--theme-font-color);
    border-color: var(--theme-border-color);
}

header.titleBar [class*="dropDown-contents-dropDown-contents"],
header.titleBar [class*="dropDown-action"],
header.titleBar [class*="typography-subTitle-dropDown-sectionHeading"]{
    color: var(--theme-font-color) !important;
}
/*************************************************** Home ***************************************************************/

.Section-CategoryList .Content .pageHeadingBox .HomepageTitle {
    font-size: 32px !important;

}

@media screen and (min-width: 1200px) {
.Section-CategoryList .Content .PageControls.Top .PageControls-filters {
    justify-content: flex-end;
    margin-top: -48px;
}
}
.selectBox-toggle {
    color: var(--theme-font-color);
    text-decoration: inherit;
/*     font-weight: 700; */
    padding: 6px 16px;
    border-radius: 8px;
    border: 1px solid var(--theme-blue);
    transition: .2s ease-in-out;
}

.selectBox-toggle:hover {
    color: white;
    background-color: var(--theme-blue);
}

.selectBox-selected:before {
    content: "View ";
    display: inline;
}

.selectBox-label {
    display: none;
}

.Section-CategoryList .CategoryList li.CategoryHeading:first-child,
.Section-CategoryList[class*="Section-Category-"] .CategoryList .Item.pageBox:first-child {
    border-top-right-radius: var(--theme-border-radius);
    border-top-left-radius: var(--theme-border-radius); 
    overflow: revert;
}

.Section-CategoryList .DataList li.CategoryHeading [role="heading"]{
    font-size: 24px !important;
    margin: 0 !important;
}


.Section-CategoryList .CategoryList .Item.pageBox {
    margin-top: 4px !important;
    padding: 0.5rem 1.25rem;
}


.Section-CategoryList .CategoryList .Item.pageBox:before {
    content: '';
    display: block;
    background-color: var(--theme-light-blue);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 8px 0 0 8px;
    width: 4px;
    height: 100%;
}

.Section-CategoryList .CategoryList .Item.pageBox.Read:before {
    content: none;
}

.Section-CategoryList .CategoryList .Item.pageBox:last-child {
    border-bottom-right-radius: var(--theme-border-radius);
    border-bottom-left-radius: var(--theme-border-radius);
    border-bottom: none;
}

.Section-CategoryList .CategoryList .Item.pageBox .Item-Icon {
    width: 22px;
    height: 22px;
}

.Section-CategoryList .CategoryList .Item.pageBox .Title {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
}
.Section-CategoryList .CategoryList .Item.pageBox.Read .Title {
    font-weight: 400 !important;
}

.Section-CategoryList .CategoryList .Item.pageBox .Meta .MItem.CommentCount {
    margin-right: 8px;
}


.Section-CategoryList .CategoryList .Item.pageBox .Meta .MItem.CommentCount:after {
    content: '|';
    margin-left: 8px;
}

.followButton {
    color: var(--theme-font-color-secondary);
}

.followButton {
    color: var(--theme-font-color-secondary);
}

.followButton.isFollowing,
.followButton.isFollowing:not(:hover){
    color: var(--theme-blue);
    opacity: 1;
}

/************************************ Thread List **********************************************/

@media screen and (min-width: 930px) {
.Section-DiscussionList:not(.Drafts) section.Content {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: end;
    grid-template-areas:
        "header header"
        "main main"
        ". footer";
}

.Section-DiscussionList [class*="homeWidgetContainer"]{
    grid-area: main;
    margin-top: 15px;
}

.Section-DiscussionList .PageControls,
.Section-DiscussionList .PageControls .PageControls-filters {
    justify-content: flex-end;
}
.Section-DiscussionList .PageControls .PageControls-filters {
    grid-area: headerleft;
    order: -1;
    margin-top: 0;
}
}

@media screen and (max-width: 768px) {
.PageControls.Top .NumberedPager {
    display: flex;
    justify-content: flex-start;
}
}

.Section-DiscussionList .PageControls.Bottom {
    grid-area: footer;
}

.Section-Profile li[class*="PageBox-boxClass"],
.Section-DiscussionList li[class*="PageBox-boxClass"],
.Section-DiscussionList .Content .pageBox .pageBox {
    margin-top: 4px !important;
    padding: 0.75rem 1rem;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.Section-DiscussionList li[class*="PageBox-boxClass"]:hover {
    z-index: 1;
    transform: scale( calc( 1 + var(--theme-enable-post-animate) * var(--theme-post-animate-multiplyer) ) );
}

.Section-DiscussionList li[class*="PageBox-boxClass"]:last-child {
    border-bottom: none;
}

.Section-DiscussionList li[class*="PageBox-boxClass"]:first-child {
    border-top-right-radius: var(--theme-border-radius);
    border-top-left-radius: var(--theme-border-radius);
}

.Section-DiscussionList li[class*="PageBox-boxClass"]:last-child {
    border-bottom-right-radius: var(--theme-border-radius);
    border-bottom-left-radius: var(--theme-border-radius);
}

.Section-DiscussionList [class*="ListItem-styles-metaDescriptionContainer"] {
    margin-top: 5px;
}

.Section-DiscussionList [class*="ListItem-styles-metasContainer"] {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 0;
    align-items: center;
}
.Section-Profile [class*="metas-meta"] > div[class*="Notice-styles-root"],
.Section-DiscussionList [class*="metas-meta"] > div[class*="Notice-styles-root"] {
    clip: rect(0, 0, 0, 0);
    padding: 0;
    font-size: 0;
    border: 0;
    overflow: hidden;
}
.Section-Profile [class*="metas-meta"] > div[class*="Notice-styles-root"]:before,
.Section-DiscussionList [class*="metas-meta"] > div[class*="Notice-styles-root"]:before {
    content: '';
    background-color: var(--theme-blue);
    height: 100%;
    width: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0px;
    border-radius: 8px 0 0 8px;
    transform: translateY(-50%);
}


.Section-DiscussionList [class*="metas-metaLabel"] {
    background-color: var(--theme-red);
    border-color: var(--theme-red);
    font-size: 12px;
    padding: 0px 6px;
}

.Section-DiscussionList [class*="metas-metaIcon"] {
    display: inline-flex;
    align-items: center;
}

.Section-DiscussionList [class*="metas-metaIcon"] svg {
    vertical-align: middle;
    transform: none;
}

.Section-DiscussionList div[class*="metas-metaIcon"]:first-of-type {
    margin-left: auto;
}

.Section-DiscussionList [class*="userPhoto-medium"]{
    width: 33px;
    height: 33px;
}


/*********************************************** Comment List ******************************************************/

/* Titles */
.Section-Discussion .PageTitle h1 {
    font-size: 28px !important;
}

.Section-Discussion .CommentHeading {
    font-size: 18px !important;
}

/* Items */

.Section-Discussion .MessageList.Comments{
    box-shadow: none !important;
}

.Section-Discussion .MessageList.Comments,
.Section-Discussion .MessageList.AcceptedAnswers,
.Section-Discussion .MessageList .Item {
    padding: 0 !important;
}
.Section-Discussion .MessageList.AcceptedAnswers {
    margin-bottom: 15px;
}
.Section-Discussion .MessageList.AcceptedAnswers .QnA-Accepted {
    background-color: var(--iracing-blue);
    border-color: var(--iracing-blue);
}

.ActionBlock {
    padding: 1.25rem;
    border-radius: 8px;
}

.QnA-YesNo a {
    display: inline-block;
    color: white;
    padding: 0 8px;
    border-radius: 8px;
}

.DataBox-AcceptedAnswers .QnA-Item-Accepted .Comment {
    position: relative;
}

.DataBox-AcceptedAnswers .QnA-Item-Accepted .Comment .CommentHeader:before {
    content: "";
    display: block;
    background-color: var(--theme-license-b);
    width: 4px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px 0 0 8px;
}


.QnA-Yes {
    background-color: var(--theme-license-b) !important;
}

.QnA-No {
    background-color: var(--theme-red-alt) !important;
}

.QnA-Accepted {
    color: var(--theme-license-b) !important;
    background: none !important;
    border: none !important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px !important;
}

.QnA-Rejected {
    color: var(--theme-license-rookie) !important;
    background: none !important;
    border: none !important;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px !important;
}

.Section-Discussion .MessageList.DataList {
    background: none !important;
}

.Section-Discussion .MessageList .Item {
    box-shadow: var(--theme-box-shadow) !important;
}

.Section-Discussion .MessageList .Item:before,
.Section-Discussion .MessageList .Item:after {
    content: none !important;
}

.Section-Discussion .MessageList .Item .Item-Header.DiscussionHeader,
.Section-Discussion .MessageList .Item .Item-Header.CommentHeader {
    padding: 0.75rem 1.25rem 0.5rem;
    background-color: var(--theme-comment-header-bg);
    border-top-left-radius: var(--theme-border-radius);
    border-top-right-radius: var(--theme-border-radius);
}

.Section-Discussion .MessageList .Item.Rank-Admin .Item-Header.DiscussionHeader,
.Section-Discussion .MessageList .Item.Rank-Admin .Item-Header.CommentHeader {
    background-color: var(--theme-comment-admin-header-bg);
}

.Section-Discussion .MessageList .Item.isOriginalPoster .Item-Header.DiscussionHeader,
.Section-Discussion .MessageList .Item.isOriginalPoster .Item-Header.CommentHeader {
    background-color: var(--theme-comment-op-header-bg);
}




.Section-Discussion .MessageList .Item,
.Section-Discussion .MessageList .Item {
    background-color: var(--theme-background-color) !important;
}


.Section-Discussion .MessageList .Item .Message {
    padding: 1.25rem;
    margin-top: 0;
}

.Section-Discussion .MessageList .Item .Message a:not(:hover) {
    color: #62a6ff;
}

.Section-Discussion .MessageList .Item .Item-Header .Author .Username {
    font-size: 15px;
}

.Section-Discussion .MessageList .Item .Item-Header .CommentMeta > .MItem,
.Section-Discussion .MessageList .Item .Item-Header .CommentMeta > .MItem a {
    font-size: 12px;
    color: var(--theme-font-color-secondary);
}

.Comments .OptionsMenu .Flyout {
    right: 0;
    top: 75%;
}

[class*="frameBody-contents"] {
    color: var(--theme-font-color);
}

[class*="checkRadio"] {
    background-color: var(--theme-background-color);
}

/* Forum License Tag */
.Section-Discussion .MessageList .Item .Item-Header .Rank.MItem {
    color: white !important;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11px;
    padding: 2px 6px;
}

.Section-Discussion .MessageList .Item .Item-Header .Rank.MItem[title="Forum Rookie"] {
    background-color: var(--theme-license-rookie);
}

.Section-Discussion .MessageList .Item .Item-Header .Rank.MItem[title="Forum D License"] {
    background-color: var(--theme-license-d);
}

.Section-Discussion .MessageList .Item .Item-Header .Rank.MItem[title="Forum C License"] {
    background-color: var(--theme-license-c);
}

.Section-Discussion .MessageList .Item .Item-Header .Rank.MItem[title="Forum B License"] {
    background-color: var(--theme-license-b);
}

.Section-Discussion .MessageList .Item .Item-Header .Rank.MItem[title="Forum A License"] {
    background-color: var(--theme-license-a);
}

.Section-Discussion .MessageList .Item .Item-Header .Rank.MItem[title="Forum Pro License"] {
    background-color: var(--theme-license-pro);;
}

.Section-Discussion .MessageList .Item .Item-Header .Rank.MItem.Rank-Admin {
    background-color: white !important;
    color: var(--theme-red-alt) !important;
}

.Section-Discussion .DataList .PhotoWrap,
.Section-Discussion .MessageList .PhotoWrap {
    width: 38px;
    height: 38px;
}

.Section-Discussion .MessageList .UserSignature {
    background-color: var(--theme-signature-bg);
    color: var(--theme-signature-color);
    box-shadow: var(--theme-signature-shadow);
    border-color: var(--theme-border-color);
    padding: 1.25rem;
    font-size: 12px;
}

/* clear floated elements insie signatures */
.Section-Discussion .MessageList .UserSignature {
    overflow: hidden;
}

.Section-Discussion .MessageList .UserSignature .embedExternal-content {
    background: none !important;
}

.Section-Discussion .MessageList .ItemDiscussion .InlineTags {
    padding: 0.5rem 1.25rem;
}

/* Code Block  */
.Section-Discussion .MessageList .Item .Message .code {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--theme-border-color);
}

.UserContent pre, .UserContent pre.codeBlock, .userContent pre, .userContent pre.codeBlock {
    color: var(--theme-font-color);
}

.Closed {
    background-color: var(--theme-background-color) !important;
}

.NewPollForm .PollOption {
    list-style-type: decimal;
    margin: 10px 32px;
    padding: 0;
    line-height: 1;
    font-size: 21px;
    font-weight: 700;
    font-family: arial;
    color: var(--theme-font-color);
}

.Section-Discussion .Content h2.PollQuestion {
    font-size: 1.25rem;
    font-weight: 700;
}

.Section-Discussion .Content .Poll {
    padding: 1.25rem;
}

.Item .Poll .PollOption {
    margin: 12px 0;
    position: relative;
    padding: 6px 50px 6px 12px;
    min-height: 32px;
    background-color: var(--theme-overlay-color);
    border-radius: 6px;
    overflow: hidden;
}

.DataTable .Item td, .Item .Poll .PollOption {
    color: var(--theme-font-color);
}

.Item .Poll .PollOptions .PollColor, .Item .Poll .PollOptions .PollColor.PollColor1, .Item .Poll .PollOptions .PollColor.PollColor2, .Item .Poll .PollOptions .PollColor.PollColor3, .Item .Poll .PollOptions .PollColor.PollColor4, .Item .Poll .PollOptions .PollColor.PollColor5, .Item .Poll .PollOptions .PollColor.PollColor6, .Item .Poll .PollOptions .PollColor.PollColor7, .Item .Poll .PollOptions .PollColor.PollColor8, .Item .Poll .PollOptions .PollColor.PollColor9, .Item .Poll .PollOptions .PollColor.PollColor10 {
    color: rgb(255, 255, 255);
    opacity: 1;
    background-color: rgb(1, 94, 219) !important;
}

/******************************************************* Reactions *******************************************************/
.Reactions {
    margin: 0 !important;
    width: auto;
    padding: 0.25rem 1rem !important;
    background: var(--theme-background-color);
    border-radius: 0 0 var(--theme-border-radius) var(--theme-border-radius);
    border-top: 1px solid var(--theme-border-color);
}

.Reactions .ReactButton-Flag .ReactLabel,
.Reactions .ReactButton-Promote .ReactLabel,
.Reactions .ReactButton-Insightful .ReactLabel,
.Reactions .ReactButton-Like .ReactLabel,
.Reactions .ReactButton-LOL .ReactLabel {
    display: none !important;
}

.Reactions .ReactLabel {
    color: var(--theme-font-color);
}

.Reactions .ReactButton-Log {
    color: var(--theme-font-color);
}

.Reactions a[class*="quote"] {
    position: absolute;
    right: 1rem;
    color: var(--theme-font-color);
}

.ReactDisagree::before {
    content: "";
    font-size: 0;
    width: 16px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M6.7,15.2c-0.8,0-1.5-0.1-2.2-0.4c-1.4-0.5-2.3-1.2-2.7-2.2c-0.6-1.7,0.7-3.7,2-5.5c0.6-0.8,1-1.8,1.5-2.7 c0.9-2,1.9-4,4.4-3.7c1.5,0.2,2.8,1.2,3.6,2.8c1.1,2.1,1.1,4.8,0,6.8l0,0C11.4,14.2,8.9,15.2,6.7,15.2z M9.4,2.3 c-1.2,0-1.8,1-2.6,2.9c-0.4,0.9-0.9,2-1.6,2.9C4.5,8.8,2.9,11,3.3,12.2C3.5,12.7,4,13.2,5,13.5c2.9,0.9,5.2-0.3,7.1-3.8l0,0 C13,8.1,13,5.9,12.1,4.2c-0.6-1.1-1.5-1.9-2.4-2C9.5,2.3,9.4,2.3,9.4,2.3z M8.6,11.6c0.6-0.2,1.2-0.8,1.5-1.5c0.2-0.4,0-0.8-0.4-1 c-0.4-0.2-0.8,0-1,0.4c-0.1,0.3-0.5,0.6-0.7,0.7c-0.4,0.2-0.6,0.6-0.4,1c0.1,0.3,0.4,0.5,0.7,0.5C8.4,11.6,8.5,11.6,8.6,11.6z M11.2,7.7c0.2-0.3,0.4-0.7,0.4-1.2c0-0.4-0.3-0.8-0.7-0.8c-0.4,0-0.8,0.3-0.8,0.7c0,0.2-0.1,0.3-0.1,0.4c-0.2,0.3-0.2,0.8,0.2,1 C10.3,8,10.5,8,10.6,8C10.8,8,11.1,7.9,11.2,7.7z M5.6,11.8c-0.4,0-0.7-0.3-0.7-0.7c0-0.5,0.3-1.2,0.9-1.3c0.4-0.1,0.8,0.2,0.9,0.6 c0,0.3-0.1,0.5-0.3,0.7C6.3,11.5,6,11.7,5.6,11.8C5.7,11.8,5.7,11.8,5.6,11.8z M6,11.3C6,11.3,6,11.3,6,11.3C6,11.3,6,11.3,6,11.3z' /%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 95%;
    padding-bottom: 1px;
}

body.Section-BestOf .FilterMenu .ReactSprite {
    line-height: calc(19px);
    height: inherit;
}

.ReactButton-Disagree .ReactSprite::before {
    font-size: 0;
    width: 16px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D%0A%3C/style%3E%3Cpath class='st0' d='M6.7,15.2c-0.8,0-1.5-0.1-2.2-0.4c-1.4-0.5-2.3-1.2-2.7-2.2c-0.6-1.7,0.7-3.7,2-5.5c0.6-0.8,1-1.8,1.5-2.7 c0.9-2,1.9-4,4.4-3.7c1.5,0.2,2.8,1.2,3.6,2.8c1.1,2.1,1.1,4.8,0,6.8l0,0C11.4,14.2,8.9,15.2,6.7,15.2z M9.4,2.3 c-1.2,0-1.8,1-2.6,2.9c-0.4,0.9-0.9,2-1.6,2.9C4.5,8.8,2.9,11,3.3,12.2C3.5,12.7,4,13.2,5,13.5c2.9,0.9,5.2-0.3,7.1-3.8l0,0 C13,8.1,13,5.9,12.1,4.2c-0.6-1.1-1.5-1.9-2.4-2C9.5,2.3,9.4,2.3,9.4,2.3z M8.6,11.6c0.6-0.2,1.2-0.8,1.5-1.5c0.2-0.4,0-0.8-0.4-1 c-0.4-0.2-0.8,0-1,0.4c-0.1,0.3-0.5,0.6-0.7,0.7c-0.4,0.2-0.6,0.6-0.4,1c0.1,0.3,0.4,0.5,0.7,0.5C8.4,11.6,8.5,11.6,8.6,11.6z M11.2,7.7c0.2-0.3,0.4-0.7,0.4-1.2c0-0.4-0.3-0.8-0.7-0.8c-0.4,0-0.8,0.3-0.8,0.7c0,0.2-0.1,0.3-0.1,0.4c-0.2,0.3-0.2,0.8,0.2,1 C10.3,8,10.5,8,10.6,8C10.8,8,11.1,7.9,11.2,7.7z M5.6,11.8c-0.4,0-0.7-0.3-0.7-0.7c0-0.5,0.3-1.2,0.9-1.3c0.4-0.1,0.8,0.2,0.9,0.6 c0,0.3-0.1,0.5-0.3,0.7C6.3,11.5,6,11.7,5.6,11.8C5.7,11.8,5.7,11.8,5.6,11.8z M6,11.3C6,11.3,6,11.3,6,11.3C6,11.3,6,11.3,6,11.3z' /%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 95%;
    padding-bottom: 1px;
}

.ReactButton-Disagree:hover .ReactSprite::before {
    font-size: 0;
    width: 16px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23006eff;%7D%0A%3C/style%3E%3Cpath class='st0' d='M6.7,15.2c-0.8,0-1.5-0.1-2.2-0.4c-1.4-0.5-2.3-1.2-2.7-2.2c-0.6-1.7,0.7-3.7,2-5.5c0.6-0.8,1-1.8,1.5-2.7 c0.9-2,1.9-4,4.4-3.7c1.5,0.2,2.8,1.2,3.6,2.8c1.1,2.1,1.1,4.8,0,6.8l0,0C11.4,14.2,8.9,15.2,6.7,15.2z M9.4,2.3 c-1.2,0-1.8,1-2.6,2.9c-0.4,0.9-0.9,2-1.6,2.9C4.5,8.8,2.9,11,3.3,12.2C3.5,12.7,4,13.2,5,13.5c2.9,0.9,5.2-0.3,7.1-3.8l0,0 C13,8.1,13,5.9,12.1,4.2c-0.6-1.1-1.5-1.9-2.4-2C9.5,2.3,9.4,2.3,9.4,2.3z M8.6,11.6c0.6-0.2,1.2-0.8,1.5-1.5c0.2-0.4,0-0.8-0.4-1 c-0.4-0.2-0.8,0-1,0.4c-0.1,0.3-0.5,0.6-0.7,0.7c-0.4,0.2-0.6,0.6-0.4,1c0.1,0.3,0.4,0.5,0.7,0.5C8.4,11.6,8.5,11.6,8.6,11.6z M11.2,7.7c0.2-0.3,0.4-0.7,0.4-1.2c0-0.4-0.3-0.8-0.7-0.8c-0.4,0-0.8,0.3-0.8,0.7c0,0.2-0.1,0.3-0.1,0.4c-0.2,0.3-0.2,0.8,0.2,1 C10.3,8,10.5,8,10.6,8C10.8,8,11.1,7.9,11.2,7.7z M5.6,11.8c-0.4,0-0.7-0.3-0.7-0.7c0-0.5,0.3-1.2,0.9-1.3c0.4-0.1,0.8,0.2,0.9,0.6 c0,0.3-0.1,0.5-0.3,0.7C6.3,11.5,6,11.7,5.6,11.8C5.7,11.8,5.7,11.8,5.6,11.8z M6,11.3C6,11.3,6,11.3,6,11.3C6,11.3,6,11.3,6,11.3z' /%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 95%;
}

.ReactButton-Disagree .ReactLabel {
    display: none;
}

a[title="Potato"] img {
    opacity: 0 !important;
}

a[title="Potato"] [class*="Badge-classes-itemHasCount"] {
    background-image: url(https://s100.iracing.com/wp-content/uploads/2021/06/potato-reaction-image.png);
    background-size: cover;
    background-repeat: no-repeat;
}


/******************************************************** Messages List ********************************************************/
.Section-ConversationList .DismissMessage, 
.Section-ConversationList .DataList .Excerpt, 
.Section-ConversationList .DataList .CategoryDescription, 
.Section-ConversationList .MessageList .Excerpt, 
.Section-ConversationList .MessageList .CategoryDescription{
    color: var(--theme-font-color);
}   
/************************************************** Messages Conversation ****************************************************/


.Section-Conversation .MessageList {
    padding: 0 !important;
    background: none !important;
}

.Section-Conversation .MessageList .Item {
    padding: 1rem 1.25rem !important;
}

.Section-Conversation .MessageList .Item:after,
.Section-Conversation .MessageList .Item:before {
   content: none !important;
}


/*********************************** Profile **********************************************/
.Section-Profile .Gloss {
    border: none !important;
    padding: 0 !important;
    margin-top: 0 !important;
}

.Section-Profile .Rank {
    color: white;
    padding: 3px 8px !important;
    border-radius: 8px;
    font-weight: bold;
    font-size: 12px;
    transform: translateY(-3px);
}

.Section-Profile .Rank.Rank-Admin {
    color: var(--iracing-red) !important;
    background-color: white;
}


.Section-Profile .Rank[title="Forum Rookie"] {
    background-color: var(--theme-license-rookie);
}

.Section-Profile .Rank[title="Forum D License"] {
    background-color: var(--theme-license-d);
}

.Section-Profile .Rank[title="Forum C License"] {
    background-color: var(--theme-license-c);
}

.Section-Profile .Rank[title="Forum B License"] {
    background-color: var(--theme-license-b);
}

.Section-Profile .Rank[title="Forum A License"] {
    background-color: var(--theme-license-a);
}

.Section-Profile .Rank[title="Forum Pro License"] {
    background-color: var(--theme-license-pro);;
}
.Section-Profile .Panel .FilterMenu li a:not(:hover) {
    color: var(--theme-font-color);
}

[class*="popupUserCard-name"] {
    color: var(--theme-font-color);
}

.SignatureRules:after {
    content:"Warning: Embedding video content in your signature will result in removal from the forums.";
    display: block;
    font-weight: 700;
    color: red;
    padding: 12px 0;
}

.MessageList .Item:not(.Read) .Title, .DataList .Item:not(.Read) .Title, .DataTable .Item:not(.Read) .Title {
    color: var(--theme-font-color);
}

.Activity .userContent {
    padding: 1rem 0;
}

.Content .pageBox .pageBox .pageBox + .Content .pageBox .pageBox .pageBox, .Content .pageBox .pageBox .pageBox + .pageBox, .Content .pageBox .pageBox .pageBox + .pageBoxNoCompat {
    margin-top: 0;
}

.Profile .DataList.Comments .Item {
    background-color: var(--theme-background-color);
    margin: 4px !important;
    padding: 1.25rem;
    border-radius: var(--theme-border-radius);
}




/******************************************************* Best Of *******************************************************/

body.Section-BestOf .Tile {
    border: none !important;
    background-color: var(--theme-background-color);
    padding: 1rem;
    position: relative;
}

body.Section-BestOf .Title {
    font-size: 18px !important;
    line-height: 1.3 !important;
    padding-bottom: 8px !important;
}

body.Section-BestOf .Tile .Message {
    background-color: rgba(0, 0, 0, .2) !important;
    padding: 16px;
    border-radius: 8px;
}

body.Section-BestOf .Tile .AuthorWrap {
    padding: 16px !important;
    margin-bottom: 4px;
}

body.Section-BestOf .Item .ProfilePhoto.ProfilePhoto, body.Section-BestOf .Tile .ProfilePhoto.ProfilePhoto {
    width: 24px;
    border-radius: 50%;
    margin: 0;
}

body.Section-BestOf .Item .ProfilePhoto.ProfilePhoto, body.Section-BestOf .Tile .PhotoWrap {
    height: 24px;
    width: 24px;
}

body.Section-BestOf .Tile .Author a, body.Section-BestOf .Item .Author a {
    color: var(--theme-font-color);
    font-size: 15px;
}


body.Section-BestOf .Tile .Reactions {
    position: absolute;
    background: none !important;
    margin: 0;
    bottom: 8px;
    left: 0;
}

@media screen and (max-width: 768px) {
    body.Section-BestOf .Item .ReactButton, body.Section-BestOf .Tile .ReactButton {
        min-height: 24px;
        min-width: 24px;
    }

    body.Section-BestOf .Tile .AuthorWrap {
    margin-bottom: 16px;
    }
}

body.Section-BestOf ul.FilterMenu li.Active a {
    background-color: var(--theme-blue);
    border-color: var(--theme-blue) !important;
}
body.Section-BestOf ul.FilterMenu li.Active a:hover {
    background-color: var(--iracing-blue);
    border-color: var(--iracing-blue) !important;
}

/******************************************************* Badges Page *******************************************************/

.Badges .Box.Leaderboard .Leaderboard__user-list .Leaderboard__user-list__item {
    padding: 0.65rem !important;
}

/* Badges Page */

.Badges .DataList.Badges {
    display: flex;
    flex-direction: column;
}

.Badges .DataList.Badges .Item {
    background-color: var(--theme-background-color);
    margin-top: 12px;
    padding: 16px;
    border-radius: 8px;
}

.Badges .DataList.Badges .Item.Read {
    order: 10;
    opacity: .5;
}

.Badges .DataList.Badges .Item .Meta .MItem,
.Badges .DataList.Badges .Item .Meta p {
    color: #ACACAF;
    white-space: normal;
}

.Badges .DataList.Badges .Item  {
    position: relative;
    padding-bottom: 32px;
}

.Badges .DataList.Badges .Item .Meta p {
    font-size: 12px;
    padding-left: 76px !important;
    position: absolute;
    bottom: 0;
    left: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    border-radius: 0 0 8px 8px;
}


/* Leaderboards */

.Box.Leaderboard .pageHeadingBox {
    background-color: rgba(0, 0, 0, .2);
    padding: 16px !important;
    border-radius: 8px 8px 0 0;
}

.Leaderboard h4.Leaderboard__title.Leaderboard__title.Leaderboard__title {
    margin: 0;
}

.Leaderboard {
    background-color: var(--theme-background-color);
    border-radius: 8px !important;
}

.Box.Leaderboard .Leaderboard__user-list .Leaderboard__user-list__item {
    padding: 16px !important;
    border-bottom: 1px solid #3D3D44;
    transition: all 0.2s ease-in-out;
}

.Box.Leaderboard .Leaderboard__user-list .Leaderboard__user-list__item:last-child {
    border-bottom: none !important;
}

.Box.Leaderboard .Leaderboard__user-list .Leaderboard__user-list__item:hover {
    background-color: rgba(0, 0, 0, .2);
}

.Box.Leaderboard .Leaderboard__user-list .Leaderboard__user-list__item .Username {
    color: white;
}

.Box.Leaderboard .Leaderboard__user-list .Leaderboard__user-list__item .Count {
    color: #acacaf;
}

 /********************************************** Message Conversation **********************************************/
.Section-Conversation .MessageList {
    box-shadow: none !important;
}

.Section-Conversation .MessageList .Item {
    box-shadow: var(--theme-box-shadow) !important;
}

.Section-Conversation .Content .pageBox .pageBox .Item .Author a {
    color: var(--theme-font-color) !important;
}

.Section-Conversation .MessageForm {
    padding: 1.25rem !important;
}

.Section-Conversation .InThisConversation .Username{
    color: var(--theme-font-color);
}


/********************************************* Profile ************************************************/
.Profile .Content > .ProfileOptions {
    display: none;
}


/********************************************* Search Page ************************************************/
[class*="searchBar-valueContainer"] {
    background-color: var(--theme-background-color) !important;
    border-color: var(--theme-border-color) !important;
}

[class*="panelArea-areaOverlayBefore"],
[class*="panelArea-areaOverlayAfter"] {
    display: none;
}

 [class*="-searchInFilter-label"][class*="-button-radioAsButton"] {
    background-color: var(--theme-background-color);
    border-color: var(--theme-border-color);
    color: var(--theme-font-color);
}

[class*="-searchInFilter-label"][class*="-button-radioAsButton"].isActive {
    background-color: var(--theme-blue);
    border-color: var(--theme-blue);
    color:white !important;
}

[class*="backLink-link"] {
    transform: translateY(8px);
}

[class*="iconContainer-searchResultsStyles-iconWrap"]{
    background-color: var(--theme-background-color);
    border-color: var(--theme-border-color);
    color: var(--theme-font-color);
}

[class*="styles-description"],
[class*="resultPaginationInfo"],
[class*="memberList"]{
    color: var(--theme-font-color);
}

[class*="resultPaginationInfo"] {
    color: var(--theme-font-color);
}

/* Preview Box - Admins Only */


[class*="toast-box"]{
    background-color: var(--theme-background-color);
    border-color: var(--theme-border-color);
    color: var(--theme-font-color);
}

/********************************************* Miscellaneous ************************************************/


mark {
    padding: 0 2px;
    color: inherit;
    background: rgba(255, 255, 102, .5);
}

.pageHeadingBox:first-child {
    margin: 0 !important;
}

[class*="modal"].isShadowed {
    background-color: var(--theme-background-color) !important;
    color: var(--theme-font-color);
}

[class*="modal"].isShadowed [class*="single-value"] input {
    background-color: rgba(0, 0, 0, 0) !important;
}

[class*="dropDown-contents"],
[class*="dropDown-contents"] span {
    color: var(--theme-font-color) !important;
}

table.PreferenceGroup tbody tr:hover td {
    background: var(--theme-background-color);

}


/********************************************* LIGHT THEME ************************************************/
@media (prefers-color-scheme: light) {
    :root{
        --theme-border-color: #dfdfdf;
        --theme-font-color: var(--theme-dark);
        --theme-font-color-secondary: #74747A;
        --theme-header-bg: var(--theme-dark);
        
        --theme-background-color:  white;
        --theme-overlay-color:  rgba(0,0,0, 0.05);
        
        --theme-pager-bg: white;
        --theme-pager-hover: var(--theme-light);
        
        --theme-button-bg: var(--theme-light);
        --theme-button-color: var(--theme-dark);
        
        --theme-comment-header-bg: rgba(0,0,0, 0.05);
        --theme-comment-admin-header-bg: rgb(223, 39, 39, 0.4);
        
        --theme-signature-shadow:  0 0 20px 0 rgba(0, 0, 0, 0.1) inset;
        --theme-signature-bg: rgba(0, 0, 0, 0.05);
        --theme-signature-color: #666;
        
        --theme-message-quote-embed-bg: var(--theme-light);
        --theme-message-quote-embed-header-bg: var(--theme-light-alt);
        --theme-message-quote-embed-gradient: linear-gradient(to bottom, transparent, var(--theme-light));
        
        --theme-searchbar-placeholder-color: #cccccc;
        
    }
    
    /*********************** Global ***********************/
    body[class*="-vanillaBodyReset"] {
        color: var(--theme-font-color);
    }
    
    html{
        background-color: white !important;
    }
    
    /* Change Topnav Color in Light Mode */
    .titleBar [class*="titleBar-bg"] {
        background-color: var(--theme-background-color);
    }
    
    .titleBar [class*="titleBar-nav"] a:hover{
        background-color: rgba(0, 0, 0, .1);
    }
    
    .titleBar [class*="titleBarNav-link"],
    .titleBar [class*="titleBar-button"],
    .titleBar [class*="titleBar-button"]:focus {
        color: var(--theme-font-color) !important;
    }
    
    .titleBar [class*="titleBar-button"]:hover {
        color: var(--theme-blue) !important;
    }
    
    .headerLogo img {
        opacity: 0;
    }
    
    .headerLogo [class*="logoFrame"] {
        background-image: url(https://s100.iracing.com/wp-content/uploads/2021/06/iracing-inline-color-blue.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    /* Change the background image*/
    [class*="-fullBackground-fullBackground"] {
        background-image: url(https://s100.iracing.com/wp-content/uploads/2021/06/triangle-landscape-light-bg-1440.jpg);
        -webkit-box-shadow: 0px 0px 400px 5px rgba(5, 5, 15, .2); 
        box-shadow: inset 0px 0px 400px 5px rgba(5, 5, 15, .2);
    }
    
    @media screen and (max-width: 1200px) {
    [class*="-fullBackground-fullBackground"] {
        background-image: url(https://s100.iracing.com/wp-content/uploads/2021/06/triangle-landscape-light-bg-1440.jpg);
        -webkit-box-shadow: 0px 0px 100px 5px rgba(5, 5, 15, .1); 
        box-shadow: inset 0px 0px 100px 5px rgba(5, 5, 15, .1);
    }
    }
    
    .userContent.userContent h1,
    .userContent.userContent h2,
    .userContent.userContent h3,
    .userContent.userContent h4,
    .userContent.userContent h5,
    .userContent.userContent h6 {
        color: var(--theme-font-color);
    }
    
    input[type="text"],
    textarea,
    input.InputBox,
    .inputText.inputText,
    .file-upload-choose,
    .AdvancedSearch .InputBox,
    .AdvancedSearch select,
    select{
        background-color: white !important;
        border-color: var(--theme-border-color) !important;
        color: var(--theme-font-color) !important;
    }
    .SelectWrapper:after{
        color: var(--theme-font-color) !important;

    }
    div.token-input-dropdown.token-input-dropdown {
        background-color: #aaa !important;
        border-color: var(--theme-border-color) !important;
    }
    
    [class*="folderContents-picker"] {
        color: var(--theme-font-color);
    }
    
    [class*="-tokens"] .tokens__multi-value {
         background-color: var(--theme-light) !important;
    }
    
    .tokens__menu li {
        color: var(--theme-font-color);
    }
    
    .DayPicker-Day {
        color: var(--theme-font-color);
    }
    .DayPicker-Day--outside {
        color: #aaa;
    }
    .datePicker-header svg path{
        color: var(--theme-font-color);
    }
    [class*="dropDown-action"][class*="dropDown-action"]{
        color: var(--theme-font-color) !important;
    }
    
    [class*="dropDown-contentBox"][class*="dropDown-contentBox"] {
        background-color: white;
        color: var(--theme-font-color);
    }
    
    .embedText-body.embedLink-body {
        background-color: var(--theme-background-color);
    }
    
    /********************** Header Search Bar ******************/
    .titleBar .searchBar__placeholder,
    .titleBar [class*="searchBar-iconContainer"]{
        color: var(--theme-searchbar-placeholder-color);
    }
    
    .titleBar [class*="searchBar-valueContainer"] {
        background-color: var(--theme-background-color) !important;
        border-color: var(--theme-border-color) !important;
    }
        
    /********************** Search Page ******************/
    [class*="searchBar-iconContainer"] svg path {
        fill: var(--theme-font-color);
    }
    [class*="searchMiscellaneousComponents-sortLabel"],
    [class*="searchResult-title"] ,
    [class*="searchResult-metas"] [class*="metas-meta"],
    [class*="searchResult-metas"] [class*="metas-meta"]:hover,
    [class*="searchResult-excerpt"],
    [class*="inputBlock-labelAndDescription"] 
    {
        color: var(--theme-font-color);
    }
    /********************** Breadcrumbs ******************/
    nav.BreadcrumbsBox .Breadcrumbs a{
        color: var(--theme-font-color);
    }
    
    /********************** Flyout ***********************/
    .MenuItems, 
    .Flyout.Flyout,
    .richEditorFlyout,
    [class*="dropDown-contents-dropDown-contents"] {
        background-color: var(--theme-light) !important;
        border-color: var(--theme-border-color) !important;
    }
    
    .MenuItems.MenuItems li a, 
    .Flyout.Flyout li a,
    [class*="dropDown-contents-dropDown-contents"] li[class*="dropDown-separator"] a {
        color: var(--theme-font-color) !important;
    }
    
    .dropDown-contents p {
        color: var(--theme-font-color) !important;
    }
    
    [class*="embedMenu"] {
        background-color: var(--theme-light) !important;
        border-color: var(--theme-border-color) !important;   
        color: var(--theme-font-color) !important;
    }
    
    /******************* Navigation *********************/
    .Pager.NumberedPager span.Previous,
    .Pager.NumberedPager span.Next{
        background-color: rgba(0,0,0,0.2) !important;
    }
    
    .pageHeadingBox.pageHeadingBox.pageHeadingBox h1:not(.subtitle), 
    .pageHeadingBox.pageHeadingBox.pageHeadingBox h2:not(.subtitle), 
    .pageHeadingBox.pageHeadingBox.pageHeadingBox h3:not(.subtitle), 
    .pageHeadingBox.pageHeadingBox.pageHeadingBox h4:not(.subtitle), 
    .pageHeadingBox.pageHeadingBox.pageHeadingBox h5:not(.subtitle), 
    .pageHeadingBox.pageHeadingBox.pageHeadingBox [role="heading"]:not(.subtitle){
        color: var(--theme-font-color);
    }

    .DataList .Item .Title a:not(:hover), 
    .DateList item h3 a:not(:hover), 
    .DataList .Item a.Title:not(:hover), 
    .DataTable .Title.Title a:not(:hover), 
    .DataTable h3 a:not(:hover), 
    .DataTable h2 a:not(:hover), 
    .DataTable.DiscussionsTable a.Title:not(:hover) {
        color: var(--theme-font-color) !important;
    }
    
    .MessageList .Item.Read .Title, 
    .DataList .Item.Read .Title, 
    .DataTable .Item.Read .Title {
        color: var(--theme-font-color) !important;
    }
    
    .About a:not(:hover), 
    .Panel.Panel-main .PanelInfo a.ItemLink:not(:hover) {
        color: var(--theme-font-color) !important;
    }
    
    body.Section-EditProfile .Box .PanelCategories li.Depth3 a.ItemLink:not(:hover),
    .BoxFilter:not(.BoxBestOfFilter) .PanelCategories li.Depth3 a.ItemLink:not(:hover),
    .BoxCategories.BoxCategories .PanelCategories li.Depth3 a.ItemLink:not(:hover),
    .Panel.Panel-main .Box .Heading[aria-level="3"] {
        color: var(--theme-font-color) !important;
    }
    
    [class*="ListItem-styles-titleLink"]:not(:hover) {
        color: var(--theme-font-color);
    }
    
    [class*="quickLinks"] [class*="PageBox-boxClass"] {
        background-color: var(--theme-light);
        overflow: hidden;
    }

    [class*="quickLinks"] [class*="quickLinks-listItem"]{
        background: var(--theme-background-color);
        
    }
    
    [class*="quickLinks"] [class*="quickLinks-listItemTitle"]:not(:hover),
    [class*="quickLinks"] {
        color: var(--theme-font-color);
    }
    
    [class*="dropDown-likeDropDownContent"] {
        background: var(--theme-background-color);
        border-color: var(--theme-border-color);
    }
    
    .Reactions .ReactSprite:not(:hover)::before,
    .Reactions .Count,
    .Reactions .ReactLabel {
        color: var(--theme-font-color) !important;
    }
    
    .ReactButton-Disagree .ReactSprite::before {
    font-size: 0;
    width: 16px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 25.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%2305050f;%7D%0A%3C/style%3E%3Cpath class='st0' d='M6.7,15.2c-0.8,0-1.5-0.1-2.2-0.4c-1.4-0.5-2.3-1.2-2.7-2.2c-0.6-1.7,0.7-3.7,2-5.5c0.6-0.8,1-1.8,1.5-2.7 c0.9-2,1.9-4,4.4-3.7c1.5,0.2,2.8,1.2,3.6,2.8c1.1,2.1,1.1,4.8,0,6.8l0,0C11.4,14.2,8.9,15.2,6.7,15.2z M9.4,2.3 c-1.2,0-1.8,1-2.6,2.9c-0.4,0.9-0.9,2-1.6,2.9C4.5,8.8,2.9,11,3.3,12.2C3.5,12.7,4,13.2,5,13.5c2.9,0.9,5.2-0.3,7.1-3.8l0,0 C13,8.1,13,5.9,12.1,4.2c-0.6-1.1-1.5-1.9-2.4-2C9.5,2.3,9.4,2.3,9.4,2.3z M8.6,11.6c0.6-0.2,1.2-0.8,1.5-1.5c0.2-0.4,0-0.8-0.4-1 c-0.4-0.2-0.8,0-1,0.4c-0.1,0.3-0.5,0.6-0.7,0.7c-0.4,0.2-0.6,0.6-0.4,1c0.1,0.3,0.4,0.5,0.7,0.5C8.4,11.6,8.5,11.6,8.6,11.6z M11.2,7.7c0.2-0.3,0.4-0.7,0.4-1.2c0-0.4-0.3-0.8-0.7-0.8c-0.4,0-0.8,0.3-0.8,0.7c0,0.2-0.1,0.3-0.1,0.4c-0.2,0.3-0.2,0.8,0.2,1 C10.3,8,10.5,8,10.6,8C10.8,8,11.1,7.9,11.2,7.7z M5.6,11.8c-0.4,0-0.7-0.3-0.7-0.7c0-0.5,0.3-1.2,0.9-1.3c0.4-0.1,0.8,0.2,0.9,0.6 c0,0.3-0.1,0.5-0.3,0.7C6.3,11.5,6,11.7,5.6,11.8C5.7,11.8,5.7,11.8,5.6,11.8z M6,11.3C6,11.3,6,11.3,6,11.3C6,11.3,6,11.3,6,11.3z' /%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 95%;
    padding-bottom: 1px;
}
    
    .CommentForm,
    .MessageForm {
        background-color: var(--theme-light) !important;
    }
    .CommentForm .InputBox.InputBox.InputBox,
    .MessageForm .InputBox.InputBox.InputBox,
    .richEditor-frame.InputBox.InputBox.InputBox {
        background-color: white !important;
        border-color: var(--theme-border-color) !important;
        color: var(--theme-font-color) !important;
    }
    
    .CommentForm svg path,
    .MessageForm svg path,
    .richEditor-frame.InputBox.InputBox.InputBox svg path {
        fill: var(--theme-dark) !important;
    }
    
    .Container ul.token-input-list {
        background-color: var(--theme-background-color);
        border-color: var(--theme-border-color);
    }
    
    li.token-input-token.token-input-token {
        border-color: var(--theme-border-color);    
    }
    
    li.token-input-token.token-input-token p,
    li.token-input-token span.token-input-delete-token,
    div.token-input-dropdown.token-input-dropdown,
    .token-input-dropdown ul li[class*="token-input-dropdown-item"],
    .token-input-dropdown ul li[class*="token-input-dropdown-item"] b{
        color: var(--theme-font-color) !important;
    }
    
    .richEditor [class*="embedExternal"],
    .embedImage .embedExternal-content {
        background-color: white !important;
        border-color: var(--theme-border-color) !important;
        color: var(--theme-font-color) !important;
    }
    .FormWrapper label {
        color: var(--theme-font-color) !important;
    }
    /******************* Home *********************/
    
    /* Featured Discussions */
    .Section-CategoryList [class*="-homeWidgetItem-homeWidgetItem"]{
        background-color: var(--theme-background-color);
    }
    
    .Section-CategoryList [class*="-homeWidgetItem-homeWidgetItem"] h3{
        color: var(--theme-font-color) !important;
    }  
    
    .Section-CategoryList [class*="-typography-componentSubTitle-homeWidgetItem-name-homeWidgetItem-name"]{
        color: var(--theme-font-color) !important;
    }
    .Section-CategoryList .DataList .CategoryHeading div[role="heading"]{
        color: var(--theme-light) !important; 
    }
    .Section-CategoryList .Content .DataList .Item.pageBox {
        background: var(--theme-background-color);
    }
    
    .Section-CategoryList .DataList li.CategoryHeading [role="heading"]{
        color: var(--theme-font-color) !important;
    }
    
    div.alert-banner {
        background: var(--theme-background-color) !important;
    }
    div.alert-banner a {
        color: var(--theme-font-color) !important;
    }
    
    /**************** Thread List *******************/
    .Section-DiscussionList li[class*="PageBox-boxClass"],
    .Section-DiscussionList .Content .pageBox .pageBox {
        background: var(--theme-background-color);
    }
    
    .Section-DiscussionList div[class*="ListItem-styles-actionsContainer"] svg path {
        stroke: var(--theme-blue);        
        fill: var(--theme-blue);
    }
    
    /******************** Post ***********************/
    .Section-Discussion [class*="icon-bookmark"] svg path{
        stroke: var(--theme-font-color);
    }
    
    .Section-Discussion .Content.MainContent .Item {
        background: white !important;
    }
    
    [class*="Flyout-title"] {
        color: var(--theme-font-color);
    }
    
    .ShowTags a {
        color: var(--theme-font-color);
    }
    
    .Section-Discussion .Item-Header .Author .Username,
    .Section-Discussion .Meta.Meta > .MItem,
    .Section-Discussion .Meta.Meta > .MItem a,
    .Section-Discussion .AuthorInfo > .MItem,
    .Section-Discussion .Message
    {
        color: var(--theme-font-color) !important;
    }
    
    .Section-Discussion .MessageList .Item .Message [class*="-quoteEmbed-header"]:not([class*="collapsableContent-gradient"]){
        background-color: rgba(125,125,125, 0.1) !important;
    }
    .Section-Discussion .MessageList .Item .Message [class*="-metas-metaStyles"]{
        color: var(--theme-dark);
    }
    
    [class*="CategoryPicker"] {
        color: var(--theme-font-color);
    }
        
    /***** Messages List *******/
    .Section-ConversationList .Content .Item.pageBox {
        background: var(--theme-background-color);
    }
    
    .Section-Conversation .MessageList .Item {
        background: var(--theme-background-color) !important;
    }
    
    .Section-EditProfile .Box.SideMenu .PanelInfo li a:not(:hover) {
        color: var(--theme-font-color);
    }
    
    /***** Best Of ******/
    body.Section-BestOf .Tile {
        background-color: var(--theme-background-color) !important;
        color: var(--theme-font-color) !important;
    }
    
    body.Section-BestOf .Tile .Title, 
    body.Section-BestOf .Tile .Title a {
        color: var(--theme-font-color);
    }
    
    /***** Badges ******/
    .Badges .ItemBadge {
        background: var(--theme-background-color) !important;
        border: 1px solid var(--theme-border-color) !important ; 
    }
    
    .Badges .ItemBadge .Meta p {
        background-color: var(--theme-light) !important;
    }
    .Badges .Box.Leaderboard {
        background-color: var(--theme-background-color);
    }
    .Badges .Box.Leaderboard .pageHeadingBox{
        background-color: var(--theme-light);
    }
    
    .Badges .Box.Leaderboard .Leaderboard__user-list .Leaderboard__user-list__item {
        border-color: var(--theme-border-color) !important;
    }
    
    .Badges .Box.Leaderboard .Leaderboard__user-list .Leaderboard__user-list__item:hover {
        background-color: var(--theme-light);    
    }
    
    .Badges .Box.Leaderboard .Leaderboard__user-list .Leaderboard__user-list__item .Username {
        color: var(--theme-font-color);
    }
}
